<div class="container" style="padding:17px">

	<div class="row">
	<div class="col-md-6">
		<div class="col-md-12">
			<center>
			<input type="text"  id="search-agency" class="form-control"  placeholder="Search Agency">
			<img src="dist/img/ajax-loader.gif" style="position:absolute;top:8px;right:23px;display:none;" id="loading-agency"  alt="Agency"/>
			</center>
		</div>
		<div class="col-md-12">   
		 <h2>Agencies</h2> 
			<div class="paghead">
				<span class="pagheadth">Agency name</span>
				<span class="pagheadth pull-right">Options</span>	
				<hr class="paghr">
			</div>
			<div class="pagbody" id="paginationcontent-agency" ></div>

			<div>
			<center>
				<img src="dist/img/ajax-loader.gif" style="display:none" id="loading1-agency"  alt="Agency"/>
			</center>
			</div>
		 </div>
	
	</div>
	<div class="col-md-6">
		<div class="col-md-12">
			<center>
			<input type="text"  id="search-contact" class="form-control"  placeholder="Search Contact">
			<img src="dist/img/ajax-loader.gif" style="position:absolute;top:8px;right:23px;display:none;" id="loading-contact"  alt="Contact"/>
			</center>
		</div>
		<div class="col-md-12">  
			 <h2>Contacts</h2>    

				<div class="paghead">
					<span class="pagheadth">Contact name</span>
					<span class="pagheadth pull-right">Options</span>	
					<hr class="paghr">
				</div>
				<div class="pagbody" id="paginationcontent-contact" ></div>

			<div>
			<center>
				<img src="dist/img/ajax-loader.gif" style="display:none" id="loading1-contact"  alt="Contact"/>
			</center>
			</div>
		 </div>
	
	</div>	
	</div>


</div>



